{% load static wagtailuserbar %}
<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}Bengfort.com | {{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{{ self.search_description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Icon Assets #}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    {# Global stylesheets #}
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css"
      integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+"
      crossorigin="anonymous">

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bengfort.css' %}">

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}

  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    {% block body %}{% endblock %}

    {# Global javascript #}
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>

    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'js/bengfort.js' %}"></script>

    {% block extra_js %}
        {# Override this in templates to add extra javascript #}
    {% endblock %}

    {% block analytics %}
      {% include 'components/analytics.html' %}
    {% endblock %}

  </body>
</html>
