    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <p class="text-muted">
              <small>
                Copyright &copy; 2016 Bengfort.com, All Rights Reserved
              </small>
            </p>
          </div>
          <div class="col-xs-6">
            <p class="text-right text-muted">
              <small>
                Bengfort.com v<span id="footerVersion">?</span>
                &middot;
                status: <span id="footerStatus"><i class="fa fa-circle"></i></span>
              </small>
            </p>
          </div>
        </div>
      </div>
    </footer>
