{% extends 'base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css" />
{% endblock %}

{% block page %}

    <div class="container" id="profile">
        <div class="row">
            <div class="span3">
                <img class="img-polaroid" alt="Gravatar" src="{{ object.gravatar }}" />
                <ul class="inline unstyled profile-links">
                    {% for link in object.profile.links.all %}
                    <li><a href="{{ link.href }}" title="{{ link.get_target_display }}"><i class="icon-{{ link.get_css_class }}"></i></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="span9">
                <h1>{{ object.full_name }}</h1>

                {% if object.profile.shortbio %}
                <p class="tagline">{{ object.profile.shortbio }}</p>
                {% else %}
                <p class="tagline">No tagline yet</p>
                {% endif %}

                {% if object.profile.biography %}
                {{ object.profile.biography }}
                {% else %}
                <p>No Biography Yet</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
