{% extends "page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Bengfort.com | Search{% endblock %}

{% block content %}

    <!-- Search Form -->
    <div class="row" style="margin-bottom: 18px;">
      <div class="col-lg-12">
        <form action="{% url 'search' %}" method="get" class="contactForm">
          <div class="input-group">
            <input class="form-control" type="text" name="query" placeholder="Search &hellip;">
            <span class="input-group-btn">
              <button class="commentSubmit" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>

    <!-- Search Header and Info -->
    <div class="row">
      <div class="col-lg-12 text-center">
        {% if search_query %}
        <h3 class="widgetTitle">
          Search results for &ldquo;{{ search_query }}&rdquo;
        </h3>
        {% endif %}
      </div>
    </div>

    <!-- Results Grid -->
    <div class="row">
    {% for result in search_results %}
      <div class="col-lg-4">
        <div class="singleBlog">
          <div class="blogDec">
            <h2 class="blogtitle">
              <a href="{% pageurl result %}">{{ result }}</a>
            </h2>
            <p>{{ result.search_description|safe }}</p>
          </div>
          <div class="blogMeta">
            <a href="#"> <i class="fa fa-clock-o"></i>Revised: {{ result.latest_revision_created_at }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

{% endblock %}

{% block pagination %}
  <section class="paginations">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="paginationIn">
            {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}" class="prev">
              <i class="fa fa-long-arrow-left"></i>
            </a>
            {% endif %}

            {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}" class="next">
              <i class="fa fa-long-arrow-right"></i>
            </a>
            {% endif %}

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
