{% extends "page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

    <!-- Blog Post Content -->
    <div class="row">
      <div class="col-lg-12">
        <div class="slider noMarginBottom">
          {% if page.image %}
              {% image page.image fill-1170x537 %}
          {% endif %}
        </div>
        <div class="gellarypostCont">
          <h2 class="blogtitle gellary">
            <a href="{{ page.url }}">{{ page.title }}</a>
          </h2>
          <div class="intro">
            {{ page.intro|richtext }}
          </div>

          <div class="post">
            {{ page.body|richtext }}
          </div>
        </div>

        <div class="blogMeta gfullwidth">
          <a href="#"><i class="fa fa-user"></i>{{ page.author }}</a>
          <a href="#"> <i class="fa fa-clock-o"></i>{{ page.date }}</a>
          <a href="#"><i class="fa fa-eye"></i>{{ page.views }} Views</a>

          {% for tag in page.tags.all %}
            <a class="pull-right" href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
          {% endfor %}
          <div class="clearfix"></div>
        </div>

        <div class="text-center">
          <a class="commentSubmit" style="padding:14px;" href="{{ self.get_parent.url }}">Return to blog</a>
        </div>

      </div>
    </div><!-- End Blog Post Content -->

{% endblock %}

{% block pagination %}
  <section class="paginations">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="paginationIn">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
