{% extends "page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="page-header">
      <h1>{{ page.title }}</h1>
      <p class="meta">{{ page.date }}</p>

      {% if page.tags.all.count %}
        <div class="tags">
          <h3>Tags</h3>
          {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
          {% endfor %}
        </div>
      {% endif %}

    </div>

    {% if page.main_image %}
        {% image page.main_image width-400 %}
    {% endif %}

    <div class="intro">
      {{ page.intro|richtext }}
    </div>

    <div class="post">
      {{ page.body|richtext }}
    </div>

    <p><a href="{{ self.get_parent.url }}">Return to blog</a></p>

{% endblock %}
