<aside id="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="footer-widget-title">Sitemap</h3>
        <ul class="list-unstyled three_cols">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Recent Posts</h3>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-widget">
          <h3 class="footer-widget-title">Site Stats</h3>
        </div>
      </div>
    </div> <!-- row -->
  </div> <!-- container -->
</aside> <!-- footer-widgets -->

<footer id="footer">
    <p>&copy; 2014 <a href="http://www.bengfort.com/">Bengfort.com</a> All rights reserved.</p>
</footer>
