<nav class="navbar navbar-static-top navbar-default navbar-dark" role="navigation" id="header">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#collapse-menu">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">Bengfort <span>.com</span></a>
    </div> <!-- navbar-header -->

    <div class="collapse navbar-collapse" id="collapse-menu">
        <ul class="nav navbar-nav navbar-right">

        </ul>
    </div><!-- navbar-collapse -->
  </div><!-- container -->
</nav>
