    {% load bengfort_tags wagtailcore_tags %}
    {% get_site_root as site_root %}

    {# Header/Navbar #}
    <!-- Header and Navbar -->
    <header class="header">
      <div class="container">

        <div class="headerIn">
          <div class="row">
              <div class="col-lg-8 col-sm-9 col-xs-12 pull-left noPaddingRight">

                <!-- Primary Navbar -->
                <nav class="mainNav">
                  <div class="menuBar hidden-lg hidden-md">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>

                  <ul>
                    <li class="{% if menuitem.active %}active{% endif %}">
                      <a href="{% pageurl site_root %}">Home</a>
                    </li>
                    {% for menuitem in menuitems %}
                    <li class="{% if menuitem.active %}active{% endif %}">
                      <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                    </li>
                    {% endfor %}
                    <li><a href="{% url 'wagtailadmin_home' %}">CMS</a></li>
                  </ul>
                </nav><!-- Primary Navbar Ends -->

              </div>

              <div class="col-lg-4 col-sm-3 col-xs-8 pull-right text-right">
                <div class="socialHeader">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
              </div>
          </div>
        </div>

      </div>
    </header><!-- Header/Navbar Ends -->
